git+https://github.com/Rapptz/discord.py
git+https://github.com/Gorialis/jishaku
asyncpg
tabulate
psutil
requests  # Temporary due to SSL error with aiohttp
python-dotenv
matplotlib
scipy
numpy
Pillow
better-ipc
aiohttp_cors
aiohttp-ratelimiter
better_exceptions