# git+https://github.com/Rapptz/discord.py
discord.py @ git+https://github.com/DA-344/d.py@8e03c3a740af31ad0158f48ebc25b366ae9a97dc
git+https://github.com/Gorialis/jishaku
asyncpg
tabulate
psutil
requests  # Temporary due to SSL error with aiohttp
python-dotenv
matplotlib
scipy
numpy
Pillow
better-ipc
aiohttp_cors
aiohttp-ratelimiter
better_exceptions